body {
  color: #5c5c5c;
}
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  max-width: 1000px;
  margin: 15px auto;
  padding: 50px;

}

.App a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(196,196,196,.6);
  padding-bottom: 10px;
}

.header-links span:not(last-of-type) {
  margin-right: 10px;
}

a:not(.work-list-link):hover {
  color: #fd7777;
}

.item-list ul {
  display: flex;
}
.item-list li {
  margin: 20px 20px 0 0;
  cursor: pointer;
  background-color: #d8acac;
  padding: 10px;
  border-radius: 3px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  width:90px;
  align-items: center;
}

.item-list li:hover {
  background-blend-mode: darken;
}

.work-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: inherit;
  flex-direction: column;
}

.sep {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .8em;
  line-height: normal;
  margin-top: 20px;
}

.sep:first-of-type {
  align-items: center;
  border: 1px solid rgba(196,196,196,.6);

}

.work-item div h3 {
  font-weight: 800;
  font-size: larger;
  font-family: 'arial';
}
/*.main-image {
  max-height: 300px;
  border: 3px solid #5c5c5c;
  padding: 5px;
  border-radius: 3px;
}*/

.main-image {
  max-width: 600px;
  max-height: 280px;
}

.work-item-tooltip {
  color: white;
  font-family: 'arial';
  letter-spacing: 2px;
  font-size: small;
  text-align: left;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  border-bottom: 1px solid rgba(196,196,196,.6);
  flex-wrap: wrap;
}
.work-list-item {
  height: 300px;
  width: 300px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.work-list a:hover .work-list-cover {
  opacity: .9;
}

.work-list-cover {
  position: absolute;
  margin:10px;
  height: 150px;
  padding-top: 150px;
  width: 300px;
  opacity: 0;
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.images-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-list img {
  height: 65px;
  margin-right: 10px;
  cursor: pointer;
}

.images-list i {
  margin-right: 10px;
  font-weight: bold;
  font-size: x-large;
  cursor: pointer;
}

a.work-list-link {
  border: 1px solid rgba(196,196,196,.6);
  margin: 0 10px 10px 10px;
}

.jumbo-scroll {
  font-size: x-large;
  padding: 15px;
}
